body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  align-items: center;
  justify-content: center;
  height: 90vh;
}

label {
  width: 80vw;
}

a {
  color: #00B7FF;
}

.add{
  text-align: center;
  background: #25323c;
}

.add a{
  background-color: #DC3545;
  color: white;
  border: none;
  margin: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.add a:hover{
  background-color: gray;
}


.saldo{
  position: relative;
  text-align: center;
  margin: 1vw;
}

.navbar {
  height: 8vh;
}

.th-option {
  text-align: center;
}